name: Deploy to Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup Rust
        uses: Boshen/setup-rust@main

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Install NPM dependencies
        run: pnpm i

      - name: Build crates
        run: cargo build --release

      - name: Build wasm
        run: pnpm build --target wasm32-wasip1-threads
        working-directory: ./packages/napi

      - name: Build UI
        run: pnpm run build --base /${{github.event.repository.name}}/
        working-directory: ./packages/playground

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./packages/playground/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
